


/*#container {
    position: relative;
	top: 30px;
	font-size: 0;
	margin:auto;
	padding: 0;
	border: none;
    background-color: blue;
    height:960px;
	width:960px;
    display: grid;
    
}*/


#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
    grid-column-gap: 0px;
}



