


/*#container {
    position: relative;
	top: 30px;
	font-size: 0;
	margin:auto;
	padding: 0;
	border: none;
    background-color: blue;
    height:960px;
	width:960px;
    display: grid;
    
}*/


/*.container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 3em 1.6em 1.6em;
    color: black;
}*/

#grid {
    display: grid;
   

    
}